<div class="row">
	<div class="col-12 mb-4 mt-5">
		<h4>Devices</h4>
	</div>
</div>

<div class="row mb-4">
	<div class="col-md-2 mr-5 ">
		<div class="device">
			<h4 class="image-title">ACMV</h4>
			<%= image_tag('acmv-resized.jpg', size: "200x200", alt: "Edit Entry") %>
		</div>		
	</div>
	<div class="col-md-2 mr-5 ">
		<div class="device">
			<h5 class="image-title">Light</h4>
			<%= image_tag 'luxury-resized.jpg' %>
		</div>	
	</div>
	<div class="col-md-2 mr-5 ">
		<div class="device">
			<h4 class="image-title">Waterpump</h4>
			<%= image_tag 'waterpump-resized.jpg' %>
		</div>
	</div>
	<div class="col-md-2 mr-5 ">
		<div class="device">
			<h4 class="image-title">Sensor</h4>
			<%= image_tag 'sensor-resized.jpg' %>
		</div>		
	</div>
	<div class="col-md-2 mr-5 ">
		<div class="device">
			<h4 class="image-title">CCTV</h4>
			<%= image_tag 'cctv-resized.jpg' %>
		</div>		
	</div>
</div>