<div class="row mb-4 mt-5">
	<div class="col-12 mb-4">
		<h4>Devices</h4>
	</div>
</div>

<div class="device-item-wrapper">
	<div class="device-item">
			<h4 class="device-name">ACMV</h4>
			<%= image_tag('devices/image 7.png', alt: "Edit Entry") %>
	</div>
	<div class="device-item">
			<h4 class="device-name">Light</h4>
			<%= image_tag 'devices/image 8.png' %>
	</div>
	<div class="device-item">
			<h4 class="device-name">Waterpump</h4>
			<%= image_tag 'devices/image 9.png' %>
	</div>
	<div class="device-item">
			<h4 class="device-name">Sensor</h4>
			<%= image_tag 'devices/image 10.png' %>
	</div>
	<div class="device-item">
			<h4 class="device-name">CCTV</h4>
			<%= image_tag 'devices/image 11.png' %>
	</div>
</div>

	