<div class="row mt-4">
    <div class="col-12">
        <h4>Devices</h4>
    </div>
</div>

<div class="row mt-4">
    <div class="col">
        <div class="device-item">
            <div class="device-name">ACMV</div>
            <%= image_tag('devices/image 7.png', alt: "Edit Entry") %>
        </div>
    </div>
    <div class="col">
        <div class="device-item">
            <div class="device-name">Light</div>
            <%= image_tag 'devices/image 8.png' %>
        </div>
    </div>
    <div class="col">
        <div class="device-item">
            <div class="device-name">Waterpump</div>
            <%= image_tag 'devices/image 9.png' %>
        </div>
    </div>
    <div class="col">
        <div class="device-item">
            <div class="device-name">Sensor</div>
            <%= image_tag 'devices/image 10.png' %>
        </div>
    </div>
    <div class="col">
        <div class="device-item">
            <div class="device-name">CCTV</div>
            <%= image_tag 'devices/image 11.png' %>
        </div>
    </div>
</div>