<div class="row mt-4">
    <div class="col-12">
        <h4>Devices</h4>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-2 offset-md-1">
        <div class="device-item">
            <div class="device-name">ACMV</div>
            <%= image_tag('devices/image 7.png', alt: "Edit Entry") %>
        </div>
    </div>
    <div class="col-md-2">
        <div class="device-item">
            <div class="device-name">Lights</div>
            <%= image_tag 'devices/image 8.png' %>
        </div>
    </div>
    <div class="col-md-2">
        <div class="device-item">
            <div class="device-name">Waterpumps</div>
            <%= image_tag 'devices/image 9.jpg' %>
        </div>
    </div>
    <div class="col-md-2">
        <div class="device-item">
            <div class="device-name">Sensors</div>
            <%= image_tag 'devices/image 10.png' %>
        </div>
    </div>
    <div class="col-md-2">
        <div class="device-item">
            <div class="device-name">CCTV</div>
            <%= image_tag 'devices/image 11.png' %>
        </div>
    </div>
</div>