<div class="row mt-4">
	<div class="col-12">
		<h4> Select the Region <h4>
	</div>
</div>

<div class="row mt-4">
	<div class="col-md-3">	
		<div class="region-box">
			<%= image_tag('regions/Image 1.png', alt: "Edit Entry") %>	
			<div class="region-name">
				RAMA2 Branch
			</div>
		</div>	
	</div>
	<div class="col-md-3">	
		<div class="region-box">
			<%= image_tag('regions/Rectangle 10.png', alt: "Edit Entry") %>	
			<div class="region-name">
				Chaengwattana Branch
			</div>
		</div>	
	</div>
	<div class="col-md-3">	
		<div class="region-box">
			<%= image_tag('regions/Rectangle 12.png', alt: "Edit Entry") %>
			<div class="region-name">
				Nawamin Branch
			</div>
		</div>	
	</div>
	<div class="col-md-3">	
		<div class="region-box">
			<%= image_tag('regions/Rectangle 7.png', alt: "Edit Entry") %>
			<div class="region-name">
				Chaiyapruek Branch
			</div>
		</div>	
	</div>	
</div>

<div class="row mt-4">
	<div class="col-md-3">	
		<div class="region-box">
			<%= image_tag('regions/Image 1.png', alt: "Edit Entry") %>	
			<div class="region-name">
				RAMA2 Branch
			</div>
		</div>	
	</div>
	<div class="col-md-3">	
		<div class="region-box">
			<%= image_tag('regions/Rectangle 10.png', alt: "Edit Entry") %>	
			<div class="region-name">
				Chaengwattana Branch
			</div>
		</div>	
	</div>
	<div class="col-md-3">	
		<div class="region-box">
			<%= image_tag('regions/Rectangle 12.png', alt: "Edit Entry") %>
			<div class="region-name">
				Nawamin Branch
			</div>
		</div>	
	</div>
	<div class="col-md-3">	
		<div class="region-box">
			<%= image_tag('regions/Rectangle 7.png', alt: "Edit Entry") %>
			<div class="region-name">
				Chaiyapruek Branch
			</div>
		</div>	
	</div>	
</div>