  <div class="sidenav">
      <div class="sidenav-logo sidenav-item">
        <div class="d-flex align-items-end">
          <%= image_tag('AlotLogo/logo.png') %>
          <p class="ml-3 mb-0 h4">AIOT</p>
        </div>
        
      </div>
      <a href="/" class="sidenav-home sidenav-item">
        <%= image_tag('icons/Home Icon.png', height: '20') %> Home
      </a>
      <div class="sidenav-list sidenav-item">
        <a href="#">
          <%= image_tag('icons/Item Icon.png', height: '20') %> Device Manager
        </a>
        <a href="/devices/23/status">
          <%= image_tag('icons/Item Icon.png', height: '20') %> Air Handing Unit
        </a>
        <a href="https://aiot-demo.southeastasia.cloudapp.azure.com/">
          <%= image_tag('icons/Item Icon.png', height: '20') %> 
            Data Dashboard
        </a>
        <a href="#">
          <%= image_tag('icons/Item Icon.png', height: '20') %> API Modules
        </a>
      </div>  
      <div class="sidenav-setting sidenav-item sidenav-icon">
        <%= image_tag('icons/Setting Icon.png', height: '20') %> 
        Settings</div>
      <div class="sidenav-footer sidenav-item">Version 2-1-1</div>
</div>