  <div class="sidenav">
      <div class="sidenav-logo sidenav-item">
        <%= image_tag('AlotLogo/logo.png', alt: "Edit Entry") %>
      </div>
      <div class="sidenav-home sidenav-item">
        <%= image_tag('icons/Home Icon.png', alt: "Edit Entry") %> Home
      </div>
      <div class="sidenav-list sidenav-item">
        <a href="#about">
          <%= image_tag('icons/Item Icon.png', alt: "Edit Entry") %> Device Manage
        </a>
        <a href="#services">
          <%= image_tag('icons/Item Icon.png', alt: "Edit Entry") %> Air Handing Unit
        </a>
        <a href="#clients">
          <%= image_tag('icons/Item Icon.png', alt: "Edit Entry") %> Data Dashboard
        </a>
        <a href="#contact">
          <%= image_tag('icons/Item Icon.png', alt: "Edit Entry") %> API Modules
        </a>
      </div>  
      <div class="sidenav-setting sidenav-item sidenav-icon">
        <%= image_tag('icons/Setting Icon.png', alt: "Edit Entry") %> 
        Setting</div>
      <div class="sidenav-footer sidenav-item">Version 2-1-1</div>
    </div>