<ul class="nav nav-tabs">
	<li class="nav-item">
		<a class="nav-link active" href="/devices/345/status">Device Status</a>
	</li>
	<li class="nav-item">
		<a class="nav-link disabled" href="/devices/:id/analytics">Analaytics and Recommendations</a>
	</li>
</ul>

<script>
function toggleMenu() {
	$('.select-store-nav').toggleClass('open');
	$('.toggle-button').toggleClass('slide');
}
</script>

<div class="row">	
	<div class="md-12">
	<div class="map-container">
		<nav class="select-store-nav">
			<div class="d-flex flex-column">
				<h3 class="list-group-item h3 mb-0">Select Store</h3>
				<div class="list-group-item border-0 d-flex justify-content-center">
					<%= image_tag('regions/Rectangle 12.png', class: "clip-circle") %>
					<div class="p-2">
						<a href="#" class="text-dark">RAMA2 Branch</a>
						<p class="text-muted">Zip Code: 112</p>
					</div>		
				</div>

				<div class="list-group-item border-0 d-flex justify-content-center">
					<%= image_tag('regions/Rectangle 12.png', class: "clip-circle") %>
					<div class="p-2">
						<a href="#" class="text-dark">RAMA2 Branch</a>
						<p class="text-muted">Zip Code: 112</p>
					</div>		
				</div>

				<div class="list-group-item border-0 d-flex justify-content-center">
					<%= image_tag('regions/Rectangle 12.png', class: "clip-circle") %>
					<div class="p-2">
						<a href="#" class="text-dark">RAMA2 Branch</a>
						<p class="text-muted">Zip Code: 112</p>
					</div>		
				</div>

				<div class="list-group-item border-0 d-flex justify-content-center">
					<%= image_tag('regions/Rectangle 12.png', class: "clip-circle") %>
					<div class="p-2">
						<a href="#" class="text-dark">RAMA2 Branch</a>
						<p class="text-muted">Zip Code: 112</p>
					</div>		
				</div>
				
			</div>
		</nav>
	</div>
	</div>
</div>

<div>
	<p><button class="toggle-button border-0 slide-menu-btn" style="height:50px; width: 30px;" onClick="toggleMenu()">
		<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-left-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
 		<path d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
		</svg>
	</button>
	Lorem ipsum, dolor, sit amet consectetur adipisicing elit. Dolores cum adipisci reprehenderit nulla illum quidem nesciunt molestiae consequuntur repellendus, quis perferendis maiores sapiente rem libero ex mollitia? Ad cum vero ab enim quae, velit quidem eos dicta nisi ipsa. Omnis, debitis voluptas iste quasi exercitationem aperiam, laboriosam officia asperiores error architecto dicta vero nesciunt voluptatibus perspiciatis ipsam fugit? Quo, quos enim minima iste, deserunt cum! Repudiandae, reprehenderit, quisquam? Voluptatem necessitatibus cumque soluta molestiae eius ad eaque magni vero velit harum itaque, possimus ipsam iusto atque, ipsa unde repudiandae veniam optio adipisci explicabo temporibus accusamus qui dolor natus! Asperiores, dolores, nobis.</p>
	<p>Lorem ipsum, dolor, sit amet consectetur adipisicing elit. Dolores cum adipisci reprehenderit nulla illum quidem nesciunt molestiae consequuntur repellendus, quis perferendis maiores sapiente rem libero ex mollitia? Ad cum vero ab enim quae, velit quidem eos dicta nisi ipsa. Omnis, debitis voluptas iste quasi exercitationem aperiam, laboriosam officia asperiores error architecto dicta vero nesciunt voluptatibus perspiciatis ipsam fugit? Quo, quos enim minima iste, deserunt cum! Repudiandae, reprehenderit, quisquam? Voluptatem necessitatibus cumque soluta molestiae eius ad eaque magni vero velit harum itaque, possimus ipsam iusto atque, ipsa unde repudiandae veniam optio adipisci explicabo temporibus accusamus qui dolor natus! Asperiores, dolores, nobis.
	</p>
	<p>Lorem ipsum, dolor, sit amet consectetur adipisicing elit. Dolores cum adipisci reprehenderit nulla illum quidem nesciunt molestiae consequuntur repellendus, quis perferendis maiores sapiente rem libero ex mollitia? Ad cum vero ab enim quae, velit quidem eos dicta nisi ipsa. Omnis, debitis voluptas iste quasi exercitationem aperiam, laboriosam officia asperiores error architecto dicta vero nesciunt voluptatibus perspiciatis ipsam fugit? Quo, quos enim minima iste, deserunt cum! Repudiandae, reprehenderit, quisquam? Voluptatem necessitatibus cumque soluta molestiae eius ad eaque magni vero velit harum itaque, possimus ipsam iusto atque, ipsa unde repudiandae veniam optio adipisci explicabo temporibus accusamus qui dolor natus! Asperiores, dolores, nobis.
	</p>
</div>

<div class="row">
	<div class="col-12 my-4">
		<h4>Devices in Chaengwattana Branch, BLK 110</h4>
	</div>
</div>

<nav class="levels-nav navbar  navbar-expand-sm bg-light justify-content-around border-bottom">
	<ul class="navbar-nav d-flex justify-content-around w-100">
		<li class="nav-item mx-2">
			<a class="nav-link px-3 text-purple" href="#">All Levels</a>
		</li>
		<li class="nav-item mx-2">
			<a class="nav-link px-3 text-purple" href="#">Level 1</a>
		</li>
		<li class="nav-item mx-2">
			<a class="nav-link px-3 text-purple" href="#">Level 2</a>
		</li>
		<li class="nav-item mx-2">
			<a class="nav-link px-3 text-purple" href="#">Level 2</a>
		</li>
		<li class="nav-item mx-2">
			<a class="nav-link px-3 text-purple" href="#">Level 4</a>
		</li>
		<li class="nav-item mx-2">
			<a class="nav-link px-3 text-purple" href="#">Level 5</a>
		</li>
		<li class="nav-item mx-2">
			<a class="nav-link px-3 text-purple" href="#">Level 6</a>
		</li>
		<li class="nav-item mx-2">
			<a class="nav-link px-3 text-purple" href="#">Level 7</a>
		</li>
		<li class="nav-item mx-2">
			<a class="nav-link px-3 text-purple" href="#">Level 8</a>
		</li>
	</ul>
</nav>
<br>

<div class="row">
	<div class="col-md-12 mt-4">
		<div class="card box-shadowed">
			<div class="card-body position-relative">
				<div class="icon-three-dots"></div>
				<div class="row">
					<div class="col">
						<%= image_tag('regions/Image 1.png', alt: "Edit Entry") %>
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
							<div class="h-100">
								<div class="text-muted">System Name</div>
								<p class="font-weight-bold">AHU 1</p>
							</div>
							<div class="border-top pt-2">
								<div class="text-muted">Supply Temperature</div>
								<p class="font-weight-bold">17 C</p>
							</div>
						</div>						
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
						<div class="">
							<div class="text-muted">Status</div>
							<p class="font-weight-bold text-success">On</p>
						</div>
						<div class=" border-top pt-2">
							<div class="text-muted">Return Temperature</div>
							<p class="font-weight-bold">25 C</p>
						</div>
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
						<div class="">
							<div class="text-muted">Setpoint Temperature</div>
							<p class="font-weight-bold">18 C</p>
						</div>
						<div class=" border-top pt-2">
							<div class="text-muted">Ambient Temperature</div>
							<p class="font-weight-bold">23 C</p>
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
						<div class="">
							<div class="text-muted">Mode</div>
							<p class="font-weight-bold">Cool</p>
						</div>
						<div class=" border-top pt-2">
							<div class="text-muted">Ambient Humidity</div>
							<p class="font-weight-bold">77%</p>
						</div>
						</div>
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
							<div>
								<div class="text-muted">Fan Speed</div>
								<p class="font-weight-bold">2</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer position-relative bg-purple">
				<div class="row align-items-center">
					<div class="col text-muted">
						<span>Zone A</span>
						<span class="ml-5">ODU# 1</span>
					</div>
					<div class="col text-right">
						<button type="button" class="btn btn-outline-purple px-3">Adjust</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12 mt-4">
		<div class="card box-shadowed">
			<div class="card-body position-relative">
				<div class="icon-three-dots"></div>
				<div class="row">
					<div class="col">
						<%= image_tag('regions/Image 1.png', alt: "Edit Entry") %>
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
							<div class="h-100">
								<div class="text-muted">System Name</div>
								<p class="font-weight-bold">AHU 2</p>
							</div>
							<div class="border-top pt-2">
								<div class="text-muted">Supply Temperature</div>
								<p class="font-weight-bold">19 C</p>
							</div>
						</div>						
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
						<div class="">
							<div class="text-muted">Status</div>
							<p class="font-weight-bold text-success">On</p>
						</div>
						<div class=" border-top pt-2">
							<div class="text-muted">Return Temperature</div>
							<p class="font-weight-bold">25 C</p>
						</div>
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
							<div class="h-100">
								<div class="text-muted">Setpoint Temperature</div>
								<p class="font-weight-bold">27 C</p>
							</div>
						<div class=" border-top pt-2">
							<div class="text-muted">Ambient Temperature</div>
							<p class="font-weight-bold">23 C</p>
				  	</div>
          </div>    
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
						<div class="">
							<div class="text-muted">Mode</div>
							<p class="font-weight-bold">Cool</p>
						</div>
						<div class=" border-top pt-2">
							<div class="text-muted">Ambient Humidity</div>
							<p class="font-weight-bold">82%</p>
						</div>
						</div>
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
							<div>
								<div class="text-muted">Fan Speed</div>
								<p class="font-weight-bold">2</p>
							</div>
						<div class="">
							<div class="text-muted">Fan Speed</div>
							<p class="font-weight-bold">4</p>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer position-relative bg-purple">
				<div class="row align-items-center">
					<div class="col text-muted">
						<span>Zone A</span>
						<span class="ml-5">ODU# 2</span>
					</div>
					<div class="col text-right">
						<button type="button" class="btn btn-outline-purple px-3">Adjust</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12 mt-4">
		<div class="card box-shadowed">
			<div class="card-body position-relative">
				<div class="icon-three-dots"></div>
				<div class="row">
					<div class="col">
						<%= image_tag('regions/Image 1.png', alt: "Edit Entry") %>
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
							<div class="h-100">
								<div class="text-muted">System Name</div>
								<p class="font-weight-bold">AHU 3</p>
							</div>
							<div class="border-top pt-2">
								<div class="text-muted">Supply Temperature</div>
								<p class="font-weight-bold">17 C</p>
							</div>
						</div>						
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
						<div class="">
							<div class="text-muted">Status</div>
							<p class="font-weight-bold text-danger">Off</p>
						</div>
						<div class=" border-top pt-2">
							<div class="text-muted">Return Temperature</div>
							<p class="font-weight-bold">24 C</p>
						</div>
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
							<div class="h-100">
								<div class="text-muted">Setpoint Temperature</div>
								<p class="font-weight-bold">27 C</p>
							</div>
						<div class=" border-top pt-2">
							<div class="text-muted">Ambient Temperature</div>
							<p class="font-weight-bold">23 C</p>
            </div>  
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
						<div class="">
							<div class="text-muted">Mode</div>
							<p class="font-weight-bold">Cool</p>
						</div>
						<div class=" border-top pt-2">
							<div class="text-muted">Ambient Humidity</div>
							<p class="font-weight-bold">74%</p>
						</div>
						</div>
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
						<div class="">
							<div class="text-muted">Fan Speed</div>
							<p class="font-weight-bold">4</p>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer position-relative bg-purple">
				<div class="row align-items-center">
					<div class="col text-muted">
						<span>Zone B</span>
						<span class="ml-5">ODU# 3</span>
					</div>
					<div class="col text-right">
						<button type="button" class="btn btn-outline-purple px-3">Adjust</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12 mt-4">
		<div class="card box-shadowed">
			<div class="card-body position-relative">
			<div class="icon-three-dots"></div>
				<div class="row">
					<div class="col">
						<%= image_tag('regions/Image 1.png', alt: "Edit Entry") %>
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
							<div class="">
								<div class="text-muted">System Name</div>
								<p class="font-weight-bold">AHU 4</p>
							</div>
							<div class=" border-top pt-2">
								<div class="text-muted">Supply Temperature</div>
								<p class="font-weight-bold">18 C</p>
							</div>
						</div>						
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
						<div class="">
							<div class="text-muted">Status</div>
							<p class="font-weight-bold text-danger">Off</p>
						</div>
						<div class=" border-top pt-2">
							<div class="text-muted">Return Temperature</div>
							<p class="font-weight-bold">25 C</p>
						</div>
					</div>
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
						<div class="">
							<div class="text-muted">Setpoint Temperature</div>
							<p class="font-weight-bold">17 C</p>
						</div>
						<div class=" border-top pt-2">
							<div class="text-muted">Ambient Temperature</div>
							<p class="font-weight-bold">23 C</p>
					</div>
						</div>
						</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
						<div class="">
							<div class="text-muted">Mode</div>
							<p class="font-weight-bold">Cool</p>
						</div>
						<div class=" border-top pt-2">
							<div class="text-muted">Ambient Humidity</div>
							<p class="font-weight-bold">75%</p>
						</div>
						</div>
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
						<div class="">
							<div class="text-muted">Fan Speed</div>
							<p class="font-weight-bold">4</p>
						</div>
					</div>
					</div>
				</div>
			</div>
			<div class="card-footer position-relative bg-purple">
				<div class="row align-items-center">
					<div class="col text-muted">
						<span>Zone B</span>
						<span class="ml-5">ODU# 4</span>
					</div>
					<div class="col text-right">
						<button type="button" class="btn btn-outline-purple px-3">Adjust</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12 my-4">
		<h4>Overview of Electricty Consumption</h4>
	</div>

	<div class="col mb-4">
		<div class="card box-shadowed overview-card">
			<div class="card-body d-flex flex-column align-items-center justify-content-start">
				<div class="overview-img-wrapper">
					<%= image_tag('regions/Rectangle 7.png', class: "clip-circle") %>
				</div>	
				<div class="pb-0 text-muted">Region A</div>
				<div>
					<strong class="h3 d-inline">7654 </strong>	
					<small class="text-muted ml-3">kWh</small>	
				</div>
				<div class="h5 text-success mt-2">+5%</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card box-shadowed overview-card">
			<div class="card-body d-flex flex-column align-items-center justify-content-start">
				<div class="overview-img-wrapper">
					<%= image_tag('regions/Image 1.png', class: "clip-circle") %> 
				</div> 
				<div class="pb-0 text-muted">Region B</div>
				<div>
					<strong class="h3 d-inline">7654 </strong>	
					<small class="text-muted ml-3">kWh</small>	
				</div>
				<div class="h5 text-success mt-2">+25%</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card box-shadowed overview-card">
			<div class="card-body d-flex flex-column align-items-center justify-content-start">
				<div class="overview-img-wrapper">
					<%= image_tag('regions/Image 1.png', class: "clip-circle") %>
				</div>  
				<div class="pb-0 text-muted">Region C</div>
				<div>
					<strong class="h3 d-inline">7654 </strong>	
					<small class="text-muted ml-3 small">kWh</small>
				</div>
				<div class="h5 text-danger mt-2">-15%</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card box-shadowed overview-card">
			<div class="card-body d-flex flex-column align-items-center justify-content-start">
				<div class="overview-img-wrapper">
					<%= image_tag('regions/Rectangle 10.png', class: "clip-circle") %> 
				</div>	
				<div class="pb-0 text-muted">Region D</div>
				<div>
					<strong class="h3 d-inline">7654 </strong>	
					<small class="text-muted ml-3">kWh</small>
				</div>
				<div class="h5 text-danger mt-2">-5%</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card box-shadowed overview-card">
			<div class="card-body d-flex flex-column align-items-center justify-content-start">
				<div class="overview-img-wrapper">
					<%= image_tag('regions/Rectangle 12.png', class: "clip-circle") %>  
				</div>	
				<div class="pb-0 text-muted">Region D</div>
				<div>
					<strong class="h3 d-inline">7654 </strong>	
					<small class="text-muted ml-3">kWh</small>	
				</div>
				<div class="h5 text-success mt-2">+5%</div>
			</div>
		</div>
	</div>
</div>