<ul class="nav nav-tabs">
	<li class="nav-item">
		<a class="nav-link active" href="/devices/345/status">Device Status</a>
	</li>
	<li class="nav-item">
		<a class="nav-link disabled" href="/devices/:id/analytics">Analaytics and Recommendations</a>
	</li>
</ul>
<%= render 'pages/partials/map' %>
<div class="row">
	<div class="col-12 my-4">
		<h4>Devices in Chaengwattana Branch</h4>
	</div>
</div>

<nav class="levels-nav navbar  navbar-expand-sm bg-light justify-content-around border-bottom">
	<ul class="navbar-nav d-flex justify-content-around w-100">
		<li class="nav-item mx-2">
			<a class="nav-link px-3 text-purple btn-all-zones" href="#">All Zones</a>
		</li>
		<li class="nav-item mx-2">
			<a class="nav-link px-3 text-purple btn-zone-a" href="#">Zone A</a>
		</li>
		<li class="nav-item mx-2">
			<a class="nav-link px-3 text-purple btn-zone-b" href="#">Zone B</a>
		</li>
	</ul>
</nav>
<br>

<div class="row zone-a">
	<div class="col-md-12 mt-4">
		<div class="card box-shadowed">
			<div class="card-body position-relative">
				<div class="icon-three-dots"></div>
				<div class="row">
					<div class="col">
						<%= image_tag('AHU/Picture 1.png', width: "100%") %>
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
							<div>
								<div class="text-muted">System Name</div>
								<p class="font-weight-bold">AHU 1</p>
							</div>
							<div class="border-top pt-2">
								<div class="text-muted">Supply Temperature</div>
								<p class="font-weight-bold">17 C</p>
							</div>
						</div>						
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
						<div>
							<div class="text-muted">Status</div>
							<p class="font-weight-bold text-success">On</p>
						</div>
						<div class=" border-top pt-2">
							<div class="text-muted">Return Temperature</div>
							<p class="font-weight-bold">25 C</p>
						</div>
					</div>
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
						<div>
							<div class="text-muted">Setpoint Temperature</div>
							<p class="font-weight-bold">18 C</p>
						</div>
						<div class=" border-top pt-2">
							<div class="text-muted">Ambient Temperature</div>
							<p class="font-weight-bold">23 C</p>
						</div>
					</div>	
					</div>	
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
						<div>
							<div class="text-muted">Mode</div>
							<p class="font-weight-bold">Cool</p>
						</div>
						<div class=" border-top pt-2">
							<div class="text-muted">Ambient Humidity</div>
							<p class="font-weight-bold">77%</p>
						</div>
						</div>
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
							<div>
								<div class="text-muted">Fan Speed</div>
								<p class="font-weight-bold">2</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer position-relative bg-purple">
				<div class="row align-items-center">
					<div class="col text-muted">
						<span>Zone A</span>
						<span class="ml-5">ODU# 1</span>
					</div>
					<div class="col text-right">
						<button type="button" class="btn btn-outline-purple px-3">Adjust</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row zone-a">
	<div class="col-md-12 mt-4">
		<div class="card box-shadowed">
			<div class="card-body position-relative">
				<div class="icon-three-dots"></div>
				<div class="row">
					<div class="col">
						<%= image_tag('AHU/Picture 1.png', width: "100%") %>
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
							<div>
								<div class="text-muted">System Name</div>
								<p class="font-weight-bold">AHU 2</p>
							</div>
							<div class="border-top pt-2">
								<div class="text-muted">Supply Temperature</div>
								<p class="font-weight-bold">19 C</p>
							</div>
						</div>						
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
						<div>
							<div class="text-muted">Status</div>
							<p class="font-weight-bold text-success">On</p>
						</div>
						<div class=" border-top pt-2">
							<div class="text-muted">Return Temperature</div>
							<p class="font-weight-bold">25 C</p>
						</div>
					</div>
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
							<div>
								<div class="text-muted">Setpoint Temperature</div>
								<p class="font-weight-bold">27 C</p>
							</div>
							<div class=" border-top pt-2">
								<div class="text-muted">Ambient Temperature</div>
								<p class="font-weight-bold">23 C</p>
							</div>
      			    	</div>    
					</div>	  
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
						<div>
							<div class="text-muted">Mode</div>
							<p class="font-weight-bold">Cool</p>
						</div>
						<div class=" border-top pt-2">
							<div class="text-muted">Ambient Humidity</div>
							<p class="font-weight-bold">82%</p>
						</div>
						</div>
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
							<div>
								<div class="text-muted">Fan Speed</div>
								<p class="font-weight-bold">2</p>
							</div>
						<div>
							<div class="text-muted">Fan Speed</div>
							<p class="font-weight-bold">4</p>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer position-relative bg-purple">
				<div class="row align-items-center">
					<div class="col text-muted">
						<span>Zone A</span>
						<span class="ml-5">ODU# 2</span>
					</div>
					<div class="col text-right">
						<button type="button" class="btn btn-outline-purple px-3">Adjust</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<div class="row zone-b">
	<div class="col-md-12 mt-4">
		<div class="card box-shadowed">
			<div class="card-body position-relative">
				<div class="icon-three-dots"></div>
				<div class="row">
					<div class="col">
						<%= image_tag('AHU/Picture 1.png', width: "100%") %>
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
							<div>
								<div class="text-muted">System Name</div>
								<p class="font-weight-bold">AHU 3</p>
							</div>
							<div class="border-top pt-2">
								<div class="text-muted">Supply Temperature</div>
								<p class="font-weight-bold">17 C</p>
							</div>
						</div>						
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
						<div>
							<div class="text-muted">Status</div>
							<p class="font-weight-bold text-danger">Off</p>
						</div>
						<div class=" border-top pt-2">
							<div class="text-muted">Return Temperature</div>
							<p class="font-weight-bold">24 C</p>
						</div>
					</div>
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
							<div>
								<div class="text-muted">Setpoint Temperature</div>
								<p class="font-weight-bold">27 C</p>
							</div>
						<div class=" border-top pt-2">
							<div class="text-muted">Ambient Temperature</div>
							<p class="font-weight-bold">23 C</p>
            </div>  
            </div>  
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
						<div>
							<div class="text-muted">Mode</div>
							<p class="font-weight-bold">Cool</p>
						</div>
						<div class=" border-top pt-2">
							<div class="text-muted">Ambient Humidity</div>
							<p class="font-weight-bold">74%</p>
						</div>
						</div>
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
						<div>
							<div class="text-muted">Fan Speed</div>
							<p class="font-weight-bold">4</p>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer position-relative bg-purple">
				<div class="row align-items-center">
					<div class="col text-muted">
						<span>Zone B</span>
						<span class="ml-5">ODU# 3</span>
					</div>
					<div class="col text-right">
						<button type="button" class="btn btn-outline-purple px-3">Adjust</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<div class="row zone-b">
	<div class="col-md-12 mt-4">
		<div class="card box-shadowed">
			<div class="card-body position-relative">
			<div class="icon-three-dots"></div>
				<div class="row">
					<div class="col">
						<%= image_tag('AHU/Picture 1.png', width: "100%") %>
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
							<div>
								<div class="text-muted">System Name</div>
								<p class="font-weight-bold">AHU 4</p>
							</div>
							<div class=" border-top pt-2">
								<div class="text-muted">Supply Temperature</div>
								<p class="font-weight-bold">18 C</p>
							</div>
						</div>						
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
						<div>
							<div class="text-muted">Status</div>
							<p class="font-weight-bold text-danger">Off</p>
						</div>
						<div class=" border-top pt-2">
							<div class="text-muted">Return Temperature</div>
							<p class="font-weight-bold">25 C</p>
						</div>
					</div>
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
						<div>
							<div class="text-muted">Setpoint Temperature</div>
							<p class="font-weight-bold">17 C</p>
						</div>
						<div class=" border-top pt-2">
							<div class="text-muted">Ambient Temperature</div>
							<p class="font-weight-bold">23 C</p>
					</div>
						</div>
						</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
						<div>
							<div class="text-muted">Mode</div>
							<p class="font-weight-bold">Cool</p>
						</div>
						<div class=" border-top pt-2">
							<div class="text-muted">Ambient Humidity</div>
							<p class="font-weight-bold">75%</p>
						</div>
						</div>
					</div>
					<div class="col">
						<div class="d-flex flex-column h-100 justify-content-center">
						<div>
							<div class="text-muted">Fan Speed</div>
							<p class="font-weight-bold">4</p>
						</div>
					</div>
					</div>
				</div>
			</div>
			<div class="card-footer position-relative bg-purple">
				<div class="row align-items-center">
					<div class="col text-muted">
						<span>Zone B</span>
						<span class="ml-5">ODU# 4</span>
					</div>
					<div class="col text-right">
						<button type="button" class="btn btn-outline-purple px-3">Adjust</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12 my-4">
		<h4>Overview of Electricty Consumption</h4>
	</div>

	<div class="col mb-4">
		<div class="card box-shadowed overview-card">
			<div class="card-body d-flex flex-column align-items-center justify-content-start">
				<div class="overview-img-wrapper">
					<%= image_tag('regions/Rectangle 12.png', class: "clip-circle") %>
				</div>	
				<div class="pb-0 text-muted">Region A</div>
				<div>
					<strong class="h3 d-inline">7654 </strong>	
					<small class="text-muted ml-3">kWh</small>	
				</div>
				<div class="h5 text-success mt-2">+5%</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card box-shadowed overview-card">
			<div class="card-body d-flex flex-column align-items-center justify-content-start">
				<div class="overview-img-wrapper">
					<%= image_tag('regions/Rectangle 9.png', class: "clip-circle") %> 
				</div> 
				<div class="pb-0 text-muted">Region B</div>
				<div>
					<strong class="h3 d-inline">7654 </strong>	
					<small class="text-muted ml-3">kWh</small>	
				</div>
				<div class="h5 text-success mt-2">+25%</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card box-shadowed overview-card">
			<div class="card-body d-flex flex-column align-items-center justify-content-start">
				<div class="overview-img-wrapper">
					<%= image_tag('regions/Rectangle 11.png', class: "clip-circle") %>
				</div>  
				<div class="pb-0 text-muted">Region C</div>
				<div>
					<strong class="h3 d-inline">7654 </strong>	
					<small class="text-muted ml-3 small">kWh</small>
				</div>
				<div class="h5 text-danger mt-2">-15%</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card box-shadowed overview-card">
			<div class="card-body d-flex flex-column align-items-center justify-content-start">
				<div class="overview-img-wrapper">
					<%= image_tag('regions/Rectangle 1.png', class: "clip-circle") %> 
				</div>	
				<div class="pb-0 text-muted">Region D</div>
				<div>
					<strong class="h3 d-inline">7654 </strong>	
					<small class="text-muted ml-3">kWh</small>
				</div>
				<div class="h5 text-danger mt-2">-5%</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card box-shadowed overview-card">
			<div class="card-body d-flex flex-column align-items-center justify-content-start">
				<div class="overview-img-wrapper">
					<%= image_tag('regions/Rectangle 11.png', class: "clip-circle") %>  
				</div>	
				<div class="pb-0 text-muted">Region D</div>
				<div>
					<strong class="h3 d-inline">7654 </strong>	
					<small class="text-muted ml-3">kWh</small>	
				</div>
				<div class="h5 text-success mt-2">+5%</div>
			</div>
		</div>
	</div>
</div>

<script>
$(document).ready(()=> {
  $('.btn-zone-a').click((e) => {
	  e.preventDefault();
	  $('.zone-a').show();
	  $('.zone-b').hide();
  });
  $('.btn-zone-b').click((e) => {
	  e.preventDefault();
	  $('.zone-b').show();
	  $('.zone-a').hide();
  });
    $('.btn-all-zones').click((e) => {
	  e.preventDefault();
	  $('.zone-a, .zone-b').show();
  });
  });
</script>