<div class="row">
    <div class="col-12 my-4">
        <h4>Key Metrics</h4>
    </div>
        
    
    <div class="col">       
        <div class="card box-shadowed">
            <div class="card-body">
                <div class="card-title">
                    <h5>Water Usage</h5>
                    <div class="icon-three-dots"></div>
                </div>

              <div class="metric-keys">
                  <div class="metric-key-item pr-4">
                    <div class="circle bg-warning"></div>
                    <div class="metric-name ml-2">Region A</div>      
                  </div>
                  <div class="metric-key-item pr-4">
                    <div class="circle bg-success"></div>
                    <div class="metric-name ml-2">Region B</div>
                  </div>
                  <div class="metric-key-item pr-4">
                    <div class="circle bg-info"></div>
                    <div class="metric-name ml-2">Region C</div>
                  </div>
                  <div class="metric-key-item pr-4">
                    <div class="circle bg-danger"></div>
                    <div class="metric-name ml-2">Region D</div>
                  </div>               
              </div>

              <div class="metric-items ">
                  <div class="metric-linear-progress mt-4">
                      <div class="metric-name"><h5>Region A</h5></div>
                      <div class="metric-value text-warning">65,345</div>
                      <div class="progress">
                          <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                  </div>
                  <div class="metric-linear-progress mt-4">
                      <div class="metric-name"><h5>Region B</h5></div>
                      <div class="metric-value text-success">65,345</div>
                      <div class="progress">
                          <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                  </div>
                  <div class="metric-linear-progress mt-4">
                      <div class="metric-name"><h5>Region C</h5></div>
                      <div class="metric-value text-info">65,345</div>
                      <div class="progress">
                          <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                  </div>
                  <div class="metric-linear-progress mt-4 mb-4">
                      <div class="metric-name"><h5>Region D</h5></div>
                      <div class="metric-value text-danger">65,345</div>
                      <div class="progress">
                          <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                  </div>
              </div>
            </div>
            
        </div>
    </div>

    <div class="col">
        <div class="card box-shadowed">
            <div class="card-body">
                <div class="card-title">
                    <h5>Water Usage</h5>
                    <div class="icon-three-dots"></div>
                </div>

              <div class="metric-keys">
                  <div class="metric-key-item pr-4">
                    <div class="circle bg-warning"></div>
                    <div class="metric-name ml-2">Region A</div>      
                  </div>
                  <div class="metric-key-item pr-4">
                    <div class="circle bg-success"></div>
                    <div class="metric-name ml-2">Region B</div>
                  </div>
                  <div class="metric-key-item pr-4">
                    <div class="circle bg-info"></div>
                    <div class="metric-name ml-2">Region C</div>
                  </div>
                  <div class="metric-key-item pr-4">
                    <div class="circle bg-danger"></div>
                    <div class="metric-name ml-2">Region D</div>
                  </div>               
              </div>

              <div class="metric-items ">
                  <div class="metric-linear-progress mt-4">
                      <div class="metric-name"><h5>Region A</h5></div>
                      <div class="metric-value text-warning">65,345</div>
                      <div class="progress">
                          <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                  </div>
                  <div class="metric-linear-progress mt-4">
                      <div class="metric-name"><h5>Region B</h5></div>
                      <div class="metric-value text-success">65,345</div>
                      <div class="progress">
                          <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                  </div>
                  <div class="metric-linear-progress mt-4">
                      <div class="metric-name"><h5>Region C</h5></div>
                      <div class="metric-value text-info">65,345</div>
                      <div class="progress">
                          <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                  </div>
                  <div class="metric-linear-progress mt-4 mb-4">
                      <div class="metric-name"><h5>Region D</h5></div>
                      <div class="metric-value text-danger">65,345</div>
                      <div class="progress">
                          <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                  </div>
              </div>
            </div>
            
        </div>
    </div>
</div>

<div class="row mt-4">
  <div class="col-12">
    <h4> Select the Region <h4>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-3">  
    <div class="region-box">
      <%= image_tag('regions/Image 1.png', alt: "Edit Entry") %>  
      <div class="region-name">
        RAMA2 Branch
      </div>
    </div>  
  </div>
  <div class="col-md-3">  
    <div class="region-box">
      <%= image_tag('regions/Rectangle 10.png', alt: "Edit Entry") %> 
      <div class="region-name">
        Chaengwattana Branch
      </div>
    </div>  
  </div>
  <div class="col-md-3">  
    <div class="region-box">
      <%= image_tag('regions/Rectangle 12.png', alt: "Edit Entry") %>
      <div class="region-name">
        Nawamin Branch
      </div>
    </div>  
  </div>
  <div class="col-md-3">  
    <div class="region-box">
      <%= image_tag('regions/Rectangle 7.png', alt: "Edit Entry") %>
      <div class="region-name">
        Chaiyapruek Branch
      </div>
    </div>  
  </div>  
</div>

<div class="row mt-4">
  <div class="col-md-3">  
    <div class="region-box">
      <%= image_tag('regions/Image 1.png', alt: "Edit Entry") %>  
      <div class="region-name">
        RAMA2 Branch
      </div>
    </div>  
  </div>
  <div class="col-md-3">  
    <div class="region-box">
      <%= image_tag('regions/Rectangle 10.png', alt: "Edit Entry") %> 
      <div class="region-name">
        Chaengwattana Branch
      </div>
    </div>  
  </div>
  <div class="col-md-3">  
    <div class="region-box">
      <%= image_tag('regions/Rectangle 12.png', alt: "Edit Entry") %>
      <div class="region-name">
        Nawamin Branch
      </div>
    </div>  
  </div>
  <div class="col-md-3">  
    <div class="region-box">
      <%= image_tag('regions/Rectangle 7.png', alt: "Edit Entry") %>
      <div class="region-name">
        Chaiyapruek Branch
      </div>
    </div>  
  </div>  
</div>

<div class="row mt-4">
    <div class="col-12">
        <h4>Devices</h4>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-2 offset-md-1">
        <div class="device-item">
            <div class="device-name">ACMV</div>
            <%= image_tag('devices/image 7.png', alt: "Edit Entry") %>
        </div>
    </div>
    <div class="col-md-2">
        <div class="device-item">
            <div class="device-name">Lights</div>
            <%= image_tag 'devices/image 8.png' %>
        </div>
    </div>
    <div class="col-md-2">
        <div class="device-item">
            <div class="device-name">Waterpumps</div>
            <%= image_tag 'devices/image 9.jpg' %>
        </div>
    </div>
    <div class="col-md-2">
        <div class="device-item">
            <div class="device-name">Sensors</div>
            <%= image_tag 'devices/image 10.png' %>
        </div>
    </div>
    <div class="col-md-2">
        <div class="device-item">
            <div class="device-name">CCTV</div>
            <%= image_tag 'devices/image 11.png' %>
        </div>
    </div>
</div>


<div class="row mb-4 mt-5">
  <div class="col-12">
    <h4>Alarms</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-hover mb-4 alarms-table">
      <thead>
        <tr>
          <th scope="col" class="pl-4">No</th>
          <th scope="col">Name</th>
          <th scope="col">Category</th>
          <th scope="col">Region</th>
          <th scope="col">Location</th>
          <th scope="col">Value</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="pl-4">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>Region C</td>
          <td>BLK9, Level 6</td>
          <td>30</td>
          <td class="text-center">
            <button type="button" class="btn btn-outline-purple">Acknowledge</button>
          </td>
        </tr>
        <tr>
          <th scope="row" class="pl-4">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>Region B</td>
          <td>BLK9, Level 7</td>
          <td>20%</td>
          <td class="text-center">
            <button type="button" class="btn btn-outline-purple">Acknowledge</button>
          </td>
        </tr>
        <tr>
          <th scope="row" class="pl-4">3</th>
          <td>Larry</td>
          <td>Hugsfield</td>
          <td>Region A</td>
          <td>BLK9, Level 2</td>
          <td>40%</td>
          <td class="text-center">
            <button type="button" class="btn btn-outline-purple">Acknowledge</button>
          </td>
        </tr>
        <tr>
          <th scope="row" class="pl-4">4</th>
          <td>Otto</td>
          <td>@mdo</td>
          <td>Region G</td>
          <td>BLK9, Level 1</td>
          <td>80</td>
          <td class="text-center">
            <button type="button" class="btn btn-outline-purple">Acknowledge</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
</div>