<!DOCTYPE html>
<html>
<head>
  <title>AIOT</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet"> 
</head>

<body>
    <%= render 'partials/sidemenu' %>
    <main>
    <%= render 'partials/navbar' %>
      <%= yield %>
    <%= render 'partials/region' %>
    <%= render 'partials/devices' %>
    <%= render 'partials/alarms' %>
    </main>
  </div>

  
</body>
</html> 

